<app-nav-bar></app-nav-bar>

<div class="card container-fluid" id="content-establecimiento">
    <div class="container">
        <div class="card-header">
            <h2 class="h2">{{ usuario.nombre }}</h2>
        </div>
        <div class="row">
            <div class="col-sm col-xs-12">
                <div class="card-columns">
                    <div class="card">
                        <div class="card-body">
                            <div class="detail">
                                <label class="card-subtitle mb-2 text-muted">País:</label>
                                <span class="card-text"></span>
                            </div>
                            <div class="detail">
                                <label class="card-subtitle mb-2 text-muted">Provincia:</label>
                                <span class="card-text"></span>
                            </div>
                            <div class="detail">
                                <label class="card-subtitle mb-2 text-muted">Localidad:</label>
                                <span class="card-text"></span>
                            </div>
                            <div class="detail">
                                <label class="card-subtitle mb-2 text-muted">Dirección:</label>
                                <span class="card-text"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="detail">
                                <label class="card-subtitle mb-2 text-muted">Horarios de:</label>
                                <span class="card-text"></span>
                                <label class="card-subtitle mb-2 text-muted"> Hasta:</label>
                                <span class="card-text"></span>
                            </div>
                            <div class="detail">
                                <label class="card-subtitle mb-2 text-muted">Telefono:</label>
                                <span class="card-text"></span>
                            </div>
                            <div class="detail">
                                <label class="card-subtitle mb-2 text-muted">Correo:</label>
                                <span class="card-text"></span>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-pie-pag></app-pie-pag>