<div class="card container-fluid" id="content-lista">
  <div class="container">
    <div class="card-header row">
      <label class="h2 col-9" for=""> Lista de usuarios</label>
      <!-- <input type="text col-1" [(ngModel)]="filtro" (input)="filtrarUsuarios()" placeholder="Buscar usuarios"> -->
      <input class="busqueda col-2" type="text" [(ngModel)]="busqueda">
      <a class="btn btn-secondary col-1" [routerLink]="['/']">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
        </svg>
        Atras
    </a>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios | filtro : busqueda is ">
            <td>{{ usuario.idUsuario }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.apellido }}</td>
            <td>{{ usuario.correo }}</td>
            <td>{{ obtenerNombreRol(usuario.idRol) }}</td>
            <td>{{ obtenerNombreEstado(usuario.idEstadoUsuario) }}</td>
            <td>
              <a [routerLink]="['/modificar-usuario', usuario.idUsuario]" class="btn btn-sm btn-primary mr-2">Editar</a>
              <button (click)="detallesUsuario(usuario.idUsuario)" class="btn btn-sm btn-info">Detalles</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>