<app-nav-bar></app-nav-bar>

<div class="card container-fluid" id="content-lista">
  <div class="container">
    <div class="card-header">
      <label class="h2" for=""> Lista de usuarios</label>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td>{{ usuario.idUsuario }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.apellido }}</td>
            <td>{{ usuario.correo }}</td>
            <td>{{ obtenerNombreRol(usuario.idRol) }}</td>
            <td>{{ obtenerNombreEstado(usuario.idEstadoUsuario) }}</td>
            <td>
              <a [routerLink]="['/modificar-usuario', usuario.idUsuario]" class="btn btn-sm btn-primary mr-2">Editar</a>
              <button (click)="detallesUsuario(usuario.idUsuario)" class="btn btn-sm btn-info">Detalles</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-pie-pag></app-pie-pag>